@import "blocks/header";
@import "blocks/creation";
@import "blocks/standarts";
@import "blocks/work";
@import "blocks/projects";
@import "blocks/video";
@import "blocks/footer";


@import "vars";
@import "libs";
@import "fonts";

@import "media";


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1110px;
}