.header {
    height: 900px;
    background: url(../img/header_bg.jpg) center center/cover no-repeat;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__menu {
    display: flex;
}

.menu__element {
    padding: 40px 40px 40px 0;

    &:last-child {
        padding: 40px 405px 40px 0;
    }
}

.menu__link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    transition: 300ms ease-in-out;

    &::after {
        position: absolute;
        top: 60px;
        display: block;
        content: '';
        height: 2px;
        width: 0%;
        background-color: #ffffff;
        transition: width 300ms ease-in-out;
    }

    &:hover::after,
    &:focus::after {
        width: 100%;
    }

    &:hover {
        color: #92908d;
    }
}

.header__line {
    opacity: 0.5;
    border: 1px solid #A1A1A1;
}

.header__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 220px 0 20px 0;
}

.header__slogan {
    padding: 0 0 50px 0;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

.header__button,
.button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
    height: 45px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: none;
    transition: 300ms ease-in-out;
    cursor: pointer;

    &:hover {
        background: #4ab3f9;
    }
}

.video__caption {
    padding: 35px 0 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}